@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1 fw-bold text-danger mt-5">Welcome To Notes Applications </h1>
    <p class="display-5 mt-4"> 
    The MyNote Web applications provides you the feature to create your own
    Notes for the future references.<br> You can
    even do a CURD operations in this NotesApp.🤗🤗🤗
    </p>

</div>
